* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
}

:root {
  --color: #333;
  --color-light-grey: #858585;
  --border: 1px solid #c2c2c2;
}

header h1 {
  text-align: center;
  color: var(--color);
  margin: 10px 0;
}

header nav {
  display: flex;
  background: cadetblue;
}

header nav a {
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  color: antiquewhite;
  flex-basis: 50%;
}

header nav a:not(:last-child) {
  border-right: var(--border);
}

header nav a:hover,
header nav a:focus,
header nav a:target {
  background: chocolate;
}


/* table */

table {
  border-spacing: 0;
  width: calc(100% - 20px);
  margin: 10px auto;
  border: var(--border);
  border-width: 1px 0 0 1px;
}

table thead {
  background: cadetblue;
  color: antiquewhite;
  font-size: 18px
}

table tbody tr:nth-child(even) {
  background: #ebebeb;
}

table td,
table th {
  padding: 10px 5px;
  text-align: center;
  border: var(--border);
  border-width: 0 1px 1px 0;
}

.bus-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.bus {
  border: var(--border);
  flex-basis: 49%;
  padding: 5px;
  position: relative;
  height: 64px;
  line-height: 1.5;
}

.bus time {
  font-size: 24px;
  color: var(--color);
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.bus time::before {
  font-size: 14px;
  color: var(--color-light-grey);
}

.bus:first-of-type time::before { content: "Last" }

.bus:last-of-type time::before { content: "Next" }

.bus b {
  position: absolute;
  right: 10px;
  font-size: 40px;
  top: 8px;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.bus b::before {
  content: "рейс";
  font-size: 10px;
  color: var(--color-light-grey);
  font-weight: lighter;
}

#time {
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 44px;
  color: brown;
}

@media(max-width: 480px) {
  table { font-size: 12px }
}

@media(max-width: 340px) {
  table { font-size: 10px }
  table thead { font-size: 14px; color: antiquewhite; }
  table td,
  table th {padding: 8px 2px }
}

label {
  margin: 10px 10px 0;
  display: block;
  padding: 10px 0;
}

input[type=checkbox] { transform: scale(1.2) }